<!DOCTYPE html>
<html>
<head>
  <title>Gerar PDF</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
  <style>
    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        #nome{
            margin-left: 60px;
        }
  </style>
</head>
<body>
  <div >
        <div> 
            <div class="conteudo">
            <p id="nome"><h1><%= jsonFile.name %></h1></p>
        </div>
            <p>
                <h2> 
                    Contato: <%= jsonFile.profile.genero %>
                    <span> </span>
                </h2>
            </p>
        </div>
    </div>
 
</body>
<script>
    
  </script>
</html>